.checkout-item {
  border-top: 1px solid #000;
  display: flex;
  margin: 10px;
  padding: 5px;

  .btn-delete-item {
    justify-items: right;
    margin-left: auto;
    margin-right: 0;
  }
}

.finish {
  h4 {
    color: #457b9d;
  }
}
