.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #003566;
  background-image: linear-gradient(#003566, #000814);

  height: 100px;

  h2 {
    font-size: 50px;
    color: white;
    text-decoration-line: none;
    &:hover {
      color: #bee3db;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    li {
      list-style-type: none;
      text-decoration: none;
      a {
        text-decoration: none;
        margin: 10px;
        text-transform: uppercase;
        color: white;
        &:hover {
          color: #bee3db;
        }
      }
    }
  }
}
